<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teampicker.drorfichman.teampicker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/football"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.GamesActivity"
            android:label="Games history"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>

        <activity
            android:name=".View.StatisticsActivity"
            android:label="Players statistics"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>

        <activity
            android:name=".View.NewPlayerActivity"
            android:label="New player details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".View.PlayerDetailsActivity"
            android:label="Player details"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>

        <activity
            android:name=".View.MakeTeamsActivity"
            android:label="Divide player into teams"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".View.PlayerParticipationActivity"
            android:label="Player's success with/vs teammates"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>

        <provider
            android:name=".Provider.ShareTeamProvider"
            android:authorities="${applicationId}.team.picker.share.screenshot"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>